aws_region       = "us-east-1"
project_name     = "prodapp"
environment      = "prod"
apply_immediately = false

allowed_cidr_blocks = ["10.0.0.0/8"]

db_password      = "ChangeMe123!"
redis_auth_token = "ChangeMe123456789!"
